html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
}

h1,
p,
ul {
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	resize: none;
}

li {
	list-style: none;
}

button {
	font-family: inherit;
	font-size: 90%;
	margin: 0;
	cursor: pointer;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
}